img {
    padding: 0em;
  }

ion-button {
  font-size: large;
}

ion-content {
  --background:#F9FAFB;
  --overflow: auto;
}

h5 {
  margin-left: 0.1em;
  margin-right: 0.1em;
  text-align: center;
  font-weight: normal;
  color: #76818C;
}

ion-button ion-icon {
  margin-right: 8px;
}
