h3 {
  margin-top: 0.5em;
  margin-left: 0.7em;
  margin-right: 0.7em; 
  padding-bottom: 0.1em;
  text-align: left;
}

h6 {
  margin-top: 0.1em;
  margin-left: 1em;
  margin-right: 1em; 
  padding-bottom: 0.1em;
  text-align: left;
  font-weight: lighter;
}

ion-label {
  white-space: normal !important;
}
