<ion-content class="ion-padding">
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col>
        <img src="../../assets/logo.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../../assets/logo_app.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h6>
          Informe o código disponibilizado.
        </h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="userForm">
          <ion-item>
            <ion-label color="tertiary" position="floating">Código</ion-label>
            <ion-input type="text" formControlName="id" required></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar color="light" position="bottom">
    <ion-button
      fill="clear"
      color="primary"
      slot="end"
      [disabled]="!userForm.valid"
      (click)="onSubmit()"
    >
      Iniciar
    </ion-button>
  </ion-toolbar>
</ion-footer>
