img {
  padding-bottom: 0em;
}

ion-col {
  padding-bottom: 0em;
}
/*
ion-content {
  --background: #F9FAFB url("../../../src/assets/logo_medico.png")  0px bottom/70%  no-repeat;
}
*/
h1 {

  margin-left: 0.3em;
  margin-right: 0.3em;
  text-align: left;
}
h6 {

  margin-left: 0.3em;
  margin-right: 0.3em;
  text-align: left;
}

ion-row ion-button {
  margin: auto;
}

ion-row ion-text {
  font-size: small;
  margin: auto;
}
