ion-button {
  font-size: large;
}

h3 {
  margin-top: 0.5em;
  margin-left: 0.7em;
  margin-right: 0.7em; 
  padding-bottom: 0.1em;
  text-align: left;
  color: #3F5A75;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}